{% extends "base.html.twig" %}

{% block title %}AppBundle:Article:show{% endblock %}

{% block body %}
<h1>Tous les articles</h1> <a href="/new">Créer un article</a>

{% for article in articles %}

<p><a href="article/{{article.id}}">{{article.title}}</a>
<a href="edit/{{article.id}}">Modifier l'article</a>
<a href="delete/{{article.id}}">Supprimer l'article</a>
</p>

{% endfor %}

{% endblock %}
